<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="../static/img/health.ico">
  <!-- Bootstrap CSS -->
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: 'Josefin Sans', sans-serif;
    }

    html,
    body,
    #intro {
      height: 100vh;
      max-height: 100vh;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }

    .fix_height_row {
      max-height: "80vh" !important
    }

    .scrollable_division {
      max-height: 75vh !important;
      overflow-y: auto;
    }

    .bg_custom {
      background-color: rgb(58, 110, 153);
    }
  </style>
  <title>Diabetes Prediction</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg_custom">
      <a class="navbar-brand ml-5" href="{{url_for('main')}}">Health App</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav  ml-auto mr-5">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('heart')}}">Heart Disease</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('kidney')}}">Kidney Disease</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('diabetes')}}">Diabetes</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('liver')}}">Liver Diease</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('cancer')}}">Cancer</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!--Mask-->

  <div id="intro" class="container-fluid view p-5">
    <h1 class="text-center text-capitalize pt-5">diabetes</h1>
    <hr class="w-75 mx-auto">
    <div class="row mb-5 fix_height_row pt-3">
      <div class="col-lg-6 col-md-6 col-12 my-auto scrollable_division">
        <h4 class="text-danger">{{prediction_text_neg}}</h4>
        <h4 class="text-success">{{prediction_text_pos}}</h4>
        <form action="{{ url_for('predict_diabetes')}}" method="post">
          <!-- <form action="/predict/" method="POST"> -->
          <div class="form-group">
            <label for="Pregnancies">No. of Pregnencies</label>
            <input class="form-control" type="number" id="Pregnancies" name="Pregnancies" required="required"
              placeholder="No. of Pregnencies">
          </div>
          <div class="form-group">
            <label for="Glucose">Glucose Level</label>
            <input class="form-control" type="number" step="any" id="Glucose" name="Present_Price" required="required"
              placeholder="Glucose Level">
          </div>
          <div class="form-group">
            <label for="BloodPressure">Current Blood Pressure</label>
            <input class="form-control" type="number" id="BloodPressure" name="BloodPressure" required="required"
              placeholder="Current Blood Pressure">
          </div>
          <div class="form-group">
            <label for="BMI">Enter the Body Mass Index</label>
            <input class="form-control" type="number" step="any" id="BMI" name="BMI" required="required"
              placeholder="Body Mass Index">
          </div>
          <div class="form-group">
            <label for="DiabetesPedigreeFunction">Diabetes Pedigree Function</label>
            <input class="form-control" type="number" step="any" id="DiabetesPedigreeFunction"
              name="DiabetesPedigreeFunction" required="required" placeholder="Diabetes Pedigree Function">
          </div>
          <div class="form-group">
            <label for="Age">Age</label>
            <input class="form-control" type="number" id="Age" name="Age" required="required" placeholder="Age">
          </div>
          <div class="slidecontainer">
            <label for="Threshold">Threshold (Select the threshold for which you want to see the prediction)</label>
            <input type="range" value="50" min="0" max="100" name="Threshold"
              oninput="this.nextElementSibling.value = this.value">
            <output>50</output>
          </div>
          <button type="submit" class="btn btn-danger">Predict</button>
        </form>

        <p class="text-danger">{{prediction_text_neg}}</p>
        <p class="text-success">{{prediction_text_pos}}</p>

      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <img src="../static/images/diabetes_disease.jpg" class="float-left">

      </div>
    </div>
  </div>
  <!--/.Mask-->


  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>