<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="../static/img/health.ico">
  <!-- Bootstrap CSS -->
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: 'Josefin Sans', sans-serif;
      }
  
      html,
      body,
      #intro {
        height: 100vh;
        max-height: 100vh;
      }
  
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
  
      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
  
      .fix_height_row {
        max-height: "80vh" !important
      }
  
      .scrollable_division {
        max-height: 75vh !important;
        overflow-y: auto;
      }
      .bg_custom{
        background-color: rgb(136, 24, 24);
      }
    </style>
  <title>Kidney Disease Prediction</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg_custom">
      <a class="navbar-brand ml-5" href="{{url_for('main')}}">Health App</a>
      <!-- <button class="navbar-toggler ml-5" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button> -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav  ml-auto mr-5">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('heart')}}">Heart Disease</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('kidney')}}">Kidney Disease</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('diabetes')}}">Diabetes</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('liver')}}">Liver Diease</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('cancer')}}">Cancer</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!--Mask-->
  <div id="intro" class="container-fluid view p-5">
    <h1 class="text-center text-capitalize pt-5">Kidney</h1>
    <hr class="w-75 mx-auto">
    <div class="row mb-5 fix_height_row pt-3">
      <div class="col-lg-6 col-md-6 col-12 scrollable_division">
        <h4 class="text-danger">{{prediction_text_neg}}</h4>
        <h4 class="text-success">{{prediction_text_pos}}</h4>
        <form action="{{ url_for('predict_kidney')}}" method="post">
          <div class="form-group">
            <label for="Age">Age</label>
            <input class="form-control" type="number" id="age" name="age" required="required" placeholder="Enter age">
          </div>
          <div class="form-group">
            <label for="bp">Blood Pressure</label>
            <input class="form-control" type="number" id="bp" name="Year" required="required"
              placeholder="Blood Pressure">
          </div>
          <!-- 
              <div class="form-group">
                <label for="sg">Specific Gravity</label>
                <input class="form-control" type="number" step="any" id="sg" name="sg" required="required" placeholder="Specific Gravity">
              </div> -->

          <!-- <div class="form-group">
                <label for="al">Albumin</label>
                <input class="form-control" type="number" id="al" name="al" required="required" placeholder="Albumin">
              </div> -->

          <div class="form-group">
            <label for="su">Blood Sugar Level</label>
            <input class="form-control" type="number" id="su" name="su" required="required"
              placeholder="Blood Sugar Level">
          </div>

          <!-- <div class="form-group">
                <label for="Gender">Red blood cells</label>
                <select class="form-control" id="rbc" name = "rbc" required="required" placeholder="Please Choose...">
                  <option value="" disabled selected hidden>Please Choose...</option>
                  <option value="0">Abnormal</option>
                  <option value="1">Normal</option>
                </select>
              </div> -->
          <div class="form-group">
            <label for="Gender">Pus Cell</label>
            <select class="form-control" id="pc" name="pc" required="required" placeholder="Please Choose...">
              <option value="" disabled selected hidden>Please Choose...</option>
              <option value="0">Abnormal</option>
              <option value="1">Normal</option>
            </select>

            <div class="form-group">
              <label for="Gender">Pus cell clumps</label>
              <select class="form-control" id="pcc" name="pcc" required="required" placeholder="Please Choose...">
                <option value="" disabled selected hidden>Please Choose...</option>
                <option value="0">Not Present</option>
                <option value="1">Present</option>
              </select>
            </div>
            <!-- <div class="form-group">
                <label for="Gender">Bacteria</label>
                <select class="form-control" id="bac" name = "bac" required="required" placeholder="Please Choose...">
                  <option value="" disabled selected hidden>Please Choose...</option>
                  <option value="0">Not Present</option>
                  <option value="1">Present</option>
                </select>
              </div> -->
            <!-- <div class="form-group">
                <label for="rbc">Blood Glucose</label>
                <input class="form-control" type="number" id="bgr" name="bgr" required="required" placeholder="Blood Glucose">
              </div>
              <div class="form-group">
                <label for="rbc">Blood Urea</label>
                <input class="form-control" type="number" id="bu" name="bu" required="required" placeholder="Blood Urea">
              </div>
              <div class="form-group">
                <label for="rbc">Serum Creatinine</label>
                <input class="form-control" type="number" step=any id="sc" name="sc" required="required" placeholder="Serum Creatinine">
              </div> -->
            <div class="form-group">
              <label for="rbc">Sodium</label>
              <input class="form-control" step="any" type="number" id="sod" name="sod" required="required" placeholder="Sodium">
            </div>
            <!-- <div class="form-group">
                <label for="rbc">Potassium</label>
                <input class="form-control" type="number" step=any id="pot" name="pot" required="required" placeholder="Potassium">
              </div> -->
            <div class="form-group">
              <label for="rbc">hemoglobin</label>
              <input class="form-control" type="number" step=any id="hemo" name="hemo" required="required"
                placeholder="hemoglobin">
            </div>
            <!-- <div class="form-group">
                <label for="rbc">packed_cell_volume</label>
                <input class="form-control" type="number" id="pcv" name="pcv" required="required" placeholder="packed_cell_volume">
              </div> -->
            <!-- <div class="form-group">
                <label for="rbc">White Blood Cells Count</label>
                <input class="form-control" type="number" id="wbcc" name="wbcc" required="required" placeholder="White Blood Cells Count">
              </div>
              <div class="form-group">
                <label for="rbc">Red Blood Cells Count</label>
                <input class="form-control" type="number" step=any id="rbcc" name="rbcc" required="required" placeholder="Red Blood Cells Count">
              </div> -->
            <div class="form-group">
              <label for="Gender">Hypertension</label>
              <select class="form-control" id="hyp" name="hyp" required="required" placeholder="Please Choose...">
                <option value="" disabled selected hidden>Please Choose...</option>
                <option value="0">No</option>
                <option value="1">Yes</option>
              </select>
            </div>
            <div class="form-group">
              <label for="Gender">Diabetes Mellitus</label>
              <select class="form-control" id="dm" name="dm" required="required" placeholder="Please Choose...">
                <option value="" disabled selected hidden>Please Choose...</option>
                <option value="0">No</option>
                <option value="1">Yes</option>
              </select>
            </div>
            <!-- <div class="form-group">
                <label for="Gender">Coronary artery disease</label>
                <select class="form-control" id="cad" name = "cad" required="required" placeholder="Please Choose...">
                  <option value="" disabled selected hidden>Please Choose...</option>
                  <option value="0">No</option>
                  <option value="1">Yes</option>
                </select>
              </div> -->
            <!-- <div class="form-group">
                <label for="Gender">Appetite</label>
                <select class="form-control" id="ap" name = "ap" required="required" placeholder="Please Choose...">
                  <option value="" disabled selected hidden>Please Choose...</option>
                  <option value="0">Poor</option>
                  <option value="1">good</option>
                </select>
              </div> -->
            <!-- <div class="form-group">
                <label for="Gender">Pedal Edema</label>
                <select class="form-control" id="pe" name = "pe" required="required" placeholder="Please Choose...">
                  <option value="" disabled selected hidden>Please Choose...</option>
                  <option value="0">No</option>
                  <option value="1">Yes</option>
                </select>
              </div>
              <div class="form-group">
                <label for="Gender">Anemia</label>
                <select class="form-control" id="anemia" name = "anemia" required="required" placeholder="Please Choose...">
                  <option value="" disabled selected hidden>Please Choose...</option>
                  <option value="0">No</option>
                  <option value="1">Yes</option>
                </select>
              </div> -->
            <div class="slidecontainer">
              <label for="Threshold">Threshold (Select the threshold for which you want to see the prediction)</label>
              <div></div>
              <input type="range" value="50" min="0" max="100" name="Threshold"
                oninput="this.nextElementSibling.value = this.value">
              <output>50</output>
            </div>

            <button type="submit" class="btn btn-danger">Predict</button>
        </form>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-12 py-5">
      <img src="../static/images/kidney_disease.jpg" width="100%" class="">


    </div>
  </div>
  </div>
  <!--/.Mask-->
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>